#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  max-width: 60vw;
  padding: 50px;
  background-color: antiquewhite;
}

label {
  padding: 10px;
}

select {
  margin: 10px;
}
