* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20%;
}

a:visited {
  color: inherit;
}

ul {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100vw;
}

h1 {
  margin: 10px auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  padding: 30px;
  border: 1px solid green;
}

.custom-active {
  background-color: green;
  color: red;
}

.custom-pending {
  background-color: orange;
}

.custom-transtioning {
  background-color: red;
}

.active-text {
  color: white;
}

.default-text {
  color: black;
}
